################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ShoppingCart/ShoppingCart.API/obj
/ShoppingCart/.vs/ShoppingCart
/ShoppingCart/ShoppingCart.Data/obj
/ShoppingCart/ShoppingCart.API/bin/Debug/net6.0
*.user
/ShoppingCart/ShoppingCart.Data/bin/Debug/net6.0
